<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/code.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container" style="max-width: 1400px; margin: 0 auto;">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <h2>Lecture notes</h2>
            <ul class="posts">
              <li>
                <div class="post-title"><a href="/notes/syllabus.html">Syllabus</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/initial-setup.html">Initial setup</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/git.html">git</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/rstudio-workflow.html">RStudio workflow</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/r.html">R</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/data-munging.html">Data munging</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/ggplot.html">ggplot</a></div>
              </li>
              <li>
                    <div class="post-title"><a href="/notes/demo-student-loans.html">Demo: Student loans</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/statistics.html">Statistics</a></div>
              </li>
              <li>
                    <div class="post-title"><a href="/notes/regression.html">Regression</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/big-data.html">Big data</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/hadoop.html">Hadoop</a></div>
              </li>
              <li>
                    <div class="post-title"><a href="/notes/hdfs.html">HDFS</a></div>
              </li>
              <li>
                    <div class="post-title"><a href="/notes/mapreduce.html">MapReduce</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/hadoop-dev-env.html">Hadoop dev env</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/hadoop-workflow.html">Hadoop workflow</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/demo-map-reduce.html">Demo: MapReduce</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/spark.html">Spark</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/clustering.html">Clustering</a></div>
              </li>
<!--
              <li>
                <div class="post-title"><a href="/notes/text-analysis.html">Text analysis</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/demo-text-analysis.html">Demo: Text analysis</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/machine-learning.html">Machine learning</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/weka.html">Weka</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/notes/ethics.html">Ethics</a></div>
              </li>
-->
            </ul>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <h2>Cookbooks</h2>
            <ul class="posts">
              <li>
                <div class="post-title"><a href="/cookbook/external-resources.html">External resources</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/git.html">git</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/r.html">R</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/markdown.html">Markdown</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/latex.html">LaTeX</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/knitr.html">knitr</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/data-sources.html">Data sources</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/unix-tools.html">Unix tools</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/regex.html">Regex</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/ggplot.html">ggplot</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/statistics.html">Statistics</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/hdfs.html">HDFS</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/mapreduce.html">MapReduce</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/bigquery.html">BigQuery</a></div>
              </li>
              <li>
                <div class="post-title"><a href="/cookbook/spark.html">Spark</a></div>
              </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <h2>Assignments</h2>
            <ul class="posts">
              <li>
                <div class="post-title"><a href="/assignments/demo-days.html">Demo days</a></div>
              </li>
              {% for p in site.pages sort_by:title order:ascending %}
              {% if p.categories contains 'assignments' %}
              <li>
                <div class="post-title"><a href="{{ p.url }}">{{ p.title }}</a></div>
                <div class="post-due">{% if p.due %}due {{ p.due }}{% endif %}</div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="row">
            <div class="card">
              <div class="section">
                <h1>CINF 401</h1>
                <h3>Spring 2018</h3>
                <p>
                  <a href="http://www2.stetson.edu/~jeckroth/" target="_blank">Dr. Joshua Eckroth</a><br/>
                  <a href="mailto:jeckroth@stetson.edu">jeckroth@stetson.edu</a>
                </p>
                <p>
                Office hours:<br/>
                Mon 11a-12p, 3:30-4:30p; Wed 1:30-2:30p, 3:30-4:30p
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p class="license">
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">CINF 401 material</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://cinf401.artifice.cc" property="cc:attributionName" rel="cc:attributionURL">Joshua Eckroth</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Source code for this website available at <a href="https://github.com/joshuaeckroth/cinf401-website/tree/gh-pages">GitHub</a>.
          </p>
        </div>
      </div>
    </div>
  </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23971505-11', 'auto');
  ga('send', 'pageview');

</script>
</html>
